<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>MOTO-SPORTS WORLD</title>
  </head>
  <body>
    <header class="center-content">
      <div class="container-header">
        <div id="container-logo">
          <figure>
            <img id="logo" src="./Logo.png" alt="Bienvenido!" />
          </figure>
        </div>

        <div id="container-navigation">
          <a href="">Inicio</a>
          <a href="https://www.formula1.com/" target="_blank">Formula 1</a>
          <a href="https://www.motogp.com/" target="_blank">Moto GP</a>
          <a href="https://www.wrc.com/en/" target="_blank">Rally</a>
          <a href="">FAQ</a>
        </div>
      </div>
    </header>

    <main class="center-content">
      <div class="container-main">
        <div class="side-menu">
          <div class="item">
            <p>
              Formula 1: Ricciardo says he feels like ‘a beginner’ at McLaren,
              as he reveals team still coaching him on driving style. <br />
              <a href="">Ver mas...</a>
            </p>
          </div>
          <div class="item">
            <p>
              MotoGP: Factory Yamaha end four-year wait for a Saturday 1-2.<br />
              <a href="">Ver mas...</a>
            </p>
          </div>
          <div class="item">
            <p>
              Rally World Championship: Portugal ofrece una carrera cerrada
              <br />
              <a href="">Ver mas...</a>
            </p>
          </div>
        </div>
        <div class="content-main">
          <div class="card">
            <div class="content-title">
              <h4>Grand Prix de Monaco Cerca!</h4>
              <p>La esperada carrera del gran premio de monaco esta cada vez mas cerca! Hace un ano que no se compite en este circuito!</p>
            </div>
            <div class="content">
              <img class="content-image" src="./ferrari.jpg" alt="Charles Leclerc - ferrari">
            </div>
            <div class="content-button">
              <button>Ver mas >></button>
            </div>
          </div>
          <div class="card">
            <div>
              <p>Gran premio de Le Mans cada vez mas cerca!!!!</p>
            </div>
            <div>
              <button>Ver mas >></button>
            </div>
          </div>
          <div class="card">
            <div>
              <p>Portugal ofrece una carrera cerrada</p>
            </div>
            <div>
              <button>Ver mas >></button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="center-content">
      <div class="container-footer">
        <div class="content-footer">
          <h4>Siguenos en las redes sociales!</h4>
          <figure>
            <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha">Pixel Buddha</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>                    <img src="https://www.flaticon.com/" alt=""> -->
            <img
              class="logo-social-media"
              src="./facebook.png"
              alt="Facebook"
            />
            <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
            <img
              class="logo-social-media"
              src="./instagram.png"
              alt="Instagram"
            />
            <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
            <img class="logo-social-media" src="./twitter.png" alt="Twitter" />
          </figure>
        </div>
      </div>
    </footer>
  </body>
</html>
