* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  /* background-image: url(../Layout/background.png); */
  background: linear-gradient(30deg,red,black);
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  text-align: center;
}

button{
  color: inherit;
  height: 2rem;
  width: 80%;
  border: 2px solid white;
  border-radius: 0.5rem;
  background: none;
}

.center-content{
  display: flex;
  justify-content: center;
}

.container-header {
  display: inherit;
  width: 100%;
  margin: 16px;
  border: 2px solid black;
  border-radius: 16px;
  background:linear-gradient(30deg, black, gray, white, gray, gray);
  /* background-image: url(../Layout/bandera_cuadros.png); */
}

#logo {
  height: 100px;
  width: 25%;
}

#container-logo {
  margin-left: auto;
}

#container-navigation {
  margin: auto;
}

.container-main {
  display: inherit;
  justify-content: inherit;
  width: 100%;
  margin: 16px;
  border: 2px solid black;
  border-radius: 16px;
  background: gray;
  color: white;
}

.side-menu {
  height: fit-content;
  width: 30%;
  /* border-right: inherit; */
  padding: 2px;
  line-height: 1.25rem;
}

.item {
  width: 80%;
  height: 130px;
  /* border: 2px solid black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 16px;
  /* margin: Arriba | Derecha | Abajo | Izquierda */
  margin: 16px auto 20px auto; 
  background: red;
}

.card {
  height: 20rem;
  width: 80%;
  margin: 4px;
  /* border: 2px solid black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 16px;
  text-align: center;
  background: red;
}

.card > div {
  display: flex;
  flex-direction: column;
align-items: center;
}

.content-title{
  margin-top: 1rem;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 0.5rem;
}

.content{
  margin-bottom: 1rem;
}

.content-button{
/* align-items: center; */
}

.content-image{
  height: 150px;
  width: 200px;
}

.content-main {
  display: inherit;
  justify-content: inherit;
  margin: auto;
}

.container-footer {
  display: inherit;
  justify-content: inherit;
  width: 100%;
  margin: 16px;
  border-radius: 16px;
  background: linear-gradient(30deg,black,gray,white,gray);
  /* background-image: url(../Layout/bandera_cuadros.png); */
}

.content-footer {
  margin: auto;
}

.logo-social-media{
  height: 45px;
  width: 45px;
  margin: 15px;
}

p{
  padding: 10px;
}